<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body class="grey-bg">
    <%= JSON.stringify(post) %>
    <div class="white-bg">
      <div class="list-box">
        <h4><%= post[0].title %></h4>
        <p>글내용임</p>
      </div>
      <div class="list-box">
        <h4>글제목임</h4>
        <p>글내용임</p>
      </div>
    </div>
  </body>
</html>
